* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
  background-color: #1e293b;
  color: #fff;
  padding: 15px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.logo {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.logo:hover {
  color: white !important;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li p {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #3b82f6;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

.btn:hover {
  background-color: #2563eb;
}

.search {
  min-width: 250px;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
}

.search:focus {
  border: none !important;
  outline: none !important;
}

.result {
  overflow-y: scroll;
  position: absolute;
  right: 0px;
  top: 55px;
  width: 300px;
  max-height: 400px;
  z-index: 20;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 575.98px) {
  .container {
    justify-content: center;
  }

  .result {
    top: 75px;
    right: 50px !important;
  }
}
