.search-card {
  display: flex !important;
  color: #1e293b;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .text-content {
    padding-left: 8px;
    text-align: start;

    .text-title {
      width: 200px;
      font-size: 18px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .text-dsc {
      font-size: 12px;
      color: #1e293bae;
    }
  }
}

.search-card:hover {
  background-color: #1e293b18;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  img {
    transform: scale(0.98) !important;
  }
}
